body{                             /*por hacer: utilizar sass, convencion nombres */
    background-color:  #C5E4E7;
    font-family:  'Space Mono', monospace;
} 
/*
h1{
    margin-top: 25%;
    width: 13%;
 
    height: 80px;
 
     white-space: pre;  
    font-family:  'Space Mono', monospace;
    word-break: break-all;
    margin: 0 auto;
    margin-top: 10%;
    font-weight: 700;
    letter-spacing: 10px;
    color:  hsl(183, 100%, 15%)
}
*/

.titulo{
    letter-spacing: 10px;
    color:  hsl(183, 100%, 15%);
    font-weight: 700;
    font-weight: 30px;
}

 
#personas::placeholder,#bill::placeholder{
     color:#A1B6B7;
}
 
.contenedor-titulo{ 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10%;
}
 
.contenedor-calculadora{
    display: flex;
    margin:6% 15% 10% 15%;
    min-height: 450px;
 /*   border: solid red; */
    border-radius:30px;
    background-color: white;
    padding:35px;
}

.contenedor-datos{
    width: 50%;
 /*   border: solid rebeccapurple; */
    padding:50px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.contenedor-resumen{
    width: 50%;
    padding:40px;
    gap:60px;
    background-color: #00474B;
    color:white;
    border-radius:20px;
}

.cantidad-dinero{
    display:flex;
    flex-direction: column;
    
}

.contenedor-interface{
    display:flex;
    flex-direction: column;   
  /*  transform: translateY(18px); /*rever, estaria bueno que sea por bloques*/
}

label{
    color:#697D7E;
    font-weight: bolder;
   /* transform: translateY(-8px); */
   margin-bottom:8px;
}
input{
    font-size: 24px;
    background-color:   #F3F8FB;
    border-radius:6px;
     border:solid  #F3F7F8;
    padding:10px; 
    /*usar rtl es mala idea salvo que se busque escribir en arabe*/
   /* direction: rtl;  */ 
   text-align: right;
}

.contenedor-personas{
    display: flex;
    flex-direction: column;
   /* transform: translateY(10px); */

}

.persona1{

}
.notificacion-personas{
    color:#E18571;
    position: absolute;
    margin-left: 24%;
}
.visible{
    opacity:1;
}

.invisible{
    opacity:0;
}
.advertencia-personas{
    border-color:#E18571!important;
}
.hola .hola{

}
#bill,#personas{
     
    color:#A1B6B7;
    font-weight: 700;
     
}

.billete{
  
     position:absolute;
    
}
 
.billete{
    transform: translateY(45px); 
} 
.personaIcono{
    transform: translateY(44px);
    position: absolute;
}

.icono-ingreso{ 
    margin-left: 20px;
    width: 10px;
    color:hsl(184, 14%, 56%);
}

.persona{ 
    position:absolute;
  
        color:#6A9EA2;
    
}

.contenedor-botonera{
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    height: 100px;
    flex-wrap: wrap;
}
.contenedor-botonera button{
    height: 40px;
    width: 100px;
    background-color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size:large;
    color:white;
    border-radius:6px;
    border:solid #134144;
}
 
.contenedor-interface label{
  /*  transform:translateY(-10px); */
}

.contenedor-resumen{
    display:flex;
    flex-direction: column;
}

.cantidad{
    display:flex;
    justify-content: space-between;
    margin-top: 35px; /*segun ej*/
}

.total{
    display:flex;
    justify-content: space-between;
}
 

.cantidad__contenido{
    width: 100px;
}


.cantidad__monto,.total__monto{
    font-size:40px;
}
/*
.total__texto,.cantidad__contenido{
    align-self: center; 
}*/
 
.reset{
    align-self: center;
    transform: translateY(45px);
    background-color: #0C686D;
    width: 100%;
    padding:15px;
  
    border:transparent;
    border-radius:6px;
    color:#044447;
    font-weight: 700;
    font-size:16px;
    
}

.number{
    color:#2AA69B;
    transform: translateY(-5px);
}

 

.billete-num{
    font-size:30px;
    transform: translateX(15px);
}

 /*
.interface__boton:active{
    background-color: #2AA69B;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}*/


 
.contenedor-botonera .boton-custom{
    background-color:  #F3F8FB;
    color:#5A7677;
    border-color:#F1F5F6;
}

.activo{
    background-color: #2AA69B!important;
    transform: translateY(3px);
    box-shadow: 0 4px #666;
    color: #00494d!important; 
}
/*
.reset:active{
    background-color: #2AA69B!important;
    
    box-shadow: 0 4px #666;
}*/

 

#bill:focus, #personas:focus, .custom-nuevo:focus{
    border-color:#5BAA9F;
    outline: none  ;
} 

input{
    color: #00494d!important; 
}
/*
button:active{
    background-color: #9FE8DF;
}*/


.reset-activo{
    background-color: #26C2AD!important;
    box-shadow: 0 4px #666;
}

.reset:active{
    background-color: #9FE8DF;
}

 



/*media queries*/

@media (max-width:426px){
    .contenedor-calculadora{
        margin:0;
        flex-direction:column;
        padding:40px;

    }  

    .cantidad{
        margin-top:0px!important
    }
    .contenedor-datos{
        width: auto;
        padding:0;
    }

    .switch{
        MARGIN-top: -35px!important;
        transform: translate(-3px, 20px)!important;
        /* align-self: baseline; */
        align-self: self-end!important;
    }
    
    .contenedor-interface{
        height: 170px;
    }
    .notificacion-personas{
        margin-left:49%;
    }
    .contenedor-botonera{
        justify-content: center; /*me gusta como queda*/
        row-gap: 10px
    }
    .billete-num{
        margin-right: 7px;
    }
    .total__texto {
        width: 0px;
    }
    .total__texto{
        width: 0;
    }

    .cantidad__contenido{
        width: 110;
    }
    .cantidad__monto, .total__monto, .billete-num {
        font-size: 25px;
    }
    .contenedor-titulo{
        margin-bottom: 10%;
    }
    .contenedor-resumen{
        width: auto;
      padding: 0;
      margin-top: 40px; 
 
      padding: 20px;
      padding-top: 40px;
    }

    .reset{
        transform: translateY(-25px);
    }

    .interface-boton{
        width: 125px;
    }
  
}

.contenedor-datos,.contenedor-resumen{
    padding-bottom: 0;
}
@media (max-width:330px){
    .contenedor-calculadora{
        padding:20px;
    }

    .billete-num{
        font-size: 20px!important;
        margin-right: 10px;
    }
    .switch{
        transform: translate(-3px, 40px)!important;
    }
    .cantidad__monto, .total__monto {
        font-size: 20px;
    }
    .notificacion-personas{
        margin-left: -0.5%;
        margin-top: 28%;
    }

    .number {
        color: #2AA69B;
        transform: translateY(0px);
    }
}

@media screen and (max-width:2560px){
    /*.contenedor-calculadora{
        min-height: 650px;
    }*/
}
@media screen and (width:1024px){
    .contenedor-datos,.contenedor-resumen{
        padding:20px;
    }

    .contenedor-calculadora{
        padding:6% 4% 6% 4%;
        margin: 6% ;
        
    }
    .contenedor-datos{
        gap:50px;
    }
     
} 
 
@media screen and (min-width:2200px){
    .contenedor-calculadora{
        margin: 6% 17% 10% 17%!important;
    }
}
@media screen and (min-width:1440px){
    .notificacion-personas{
        margin-left: 16%;
    }

    .contenedor-calculadora{
        margin: 6% 17% 10% 17%;
    }
}

@media (min-width:1920px)  and  (max-width:2100px){ /*laptop alta res*/
    .notificacion-personas{
        transform: translateX(-63px);
    }
    .interface__boton{
        width: 140px!important;
    }

    .contenedor-botonera{
        column-gap: 48px;
    }

     
}


.custom-nuevo{
    height: 15px;
    width: 75px;
}


/*switch lang*/ 
.switch {
  /*  position: relative; */
  /*  display: inline-block;
    margin: 0 5px;
    align-self: baseline;
    position: absolute;
    transform: translate(35px, -20px);*/
    MARGIN-top: -87px; /*counter gap 40px*/
    transform: translate(-3px, 20px); /* labels  sobre input */
    align-self: baseline;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #F36F25;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #F36F25;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #F36F25;
    -webkit--moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label {
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

