
.reset {
    align-self: center;
    /* transform: translateY(45px);*/
    background-color: #0c686d;
    width: 100%;
    padding: 15px;
    border: transparent;
    border-radius: 6px;
    color: #044447;
    font-weight: 700;
    font-size: 16px;
}
  