.simbolo-moneda { 
    font-size: 30px;
    transform: translateX(15px);
}
 
 
.icono-ingreso {
    position: absolute;
    transform: translateY(40px);
    margin-left: 20px;
    width: 10px;
    color: hsl(184, 14%, 56%);
    transform: translateY(45px);
}