
//segundo contenedor display datos resultado

.contenedor-resumen {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    gap: 60px;
    background-color: #00474b;
    color: white;
    border-radius: 20px;
    flex: 1;
    @media (max-width: 427px) {
      
        gap:30px;
        padding:  25px;
        padding-top: 0px; // sin margenes en mobile salvo top
    }

   
}


 

.cantidad {
    display: flex;
    justify-content: space-between;
    margin-top: 35px; /*segun ej*/

    &__contenido {
        width:120px;
    }

    &__numero {
        font-size: 2.5rem;
        color: #2aa69b;
        transform: translateY(-10px);
       
        font-weight: bolder;

        @media (max-width: 427px) {
            font-size:2rem; //evitar overflow
            
        }

        @media screen and (max-width: 1205px) {
            font-size: 1.563rem; //evitar overflow
            
        }

    }

    


    
}

