//contenedor de datos ingreso primero

.contenedor-datos {
    /*  width: 50%;*/
    width: 44%;
    /*   border: solid rebeccapurple; */
    /*padding: 50px;*/
    padding: 10px 41px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 43px;

    @media (max-width: 427px) {
        width: 100% !important; // sin margenes en mobile salvo top
        padding: 15px 15px 41px 15px;
        
    }
}

.contenedor-personas {
    display: flex;
    flex-direction: column;
    /* transform: translateY(10px); */

    &__notif {
        color: #e18571;
        position: absolute;
        margin-left: 24%;
    }

    &__notif {
        color: #e18571;
        position: absolute;
        margin-left: 18%;
    }
}
.interface {
    display: flex;
    flex-direction: column;

    &__label-tip {
        margin-bottom: 8px;
    }
}
